.App {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  text-align: left;
  align-items: center;
}

.mnniejeszyopis{
  font-size: calc(5px + 2vmin);
  font-weight: normal;
  margin-top: 5px;
}

.App-link {
  color: #61dafb;
}

.imagelogo{
  border-radius: 20px;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
  background-color: gray;
}
.imagelogo:hover{
  cursor: pointer;
  background-color: rgb(37, 73, 235);
}

.zdjeciawrzedzie{
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
  
.button:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .zdjeciawrzedzie{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}

@media screen and
(min-width: 769px) and (max-width:1024px){
  .zdjeciawrzedzie{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and
(min-width: 1025px) and (max-width:1300px){
  .zdjeciawrzedzie{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .imagelogo{
    width: 90%;
  }
}
